<ul class="social-icon">
    <li class="social-icon-item">
        <a href="{{ site.social.github }}" target="_blank" class="social-icon-link">
            <img src="{{ '/images/githubimg.jpeg' | relative_url }}" alt="GitHub" style="width: 35px; height: 35px; display: block; margin: 0 auto; border-radius: 50%;">
        </a>
    </li>
    <li class="social-icon-item">
        <a href="{{ site.social.codecademy }}" class="social-icon-link">
            <img src="https://cdn.iconscout.com/icon/free/png-512/free-codecademy-icon-svg-download-png-282922.png?f=webp&w=512" alt="CodeAcademy" style="width: 35px; height: 35px; display: block; margin: 0 auto; border-radius: 50%;">
        </a>
    </li>
    <li class="social-icon-item">
        <a href="{{ site.social.instagram }}" target="_blank" class="social-icon-link">
            <img src="{{ '/images/instagram1.jpeg' | relative_url }}" alt="Instagram" style="width: 35px; height: 35px; display: block; margin: 0 auto; border-radius: 50%;">
        </a>
    </li>
</ul>
